<div class="landing-emailModal">
  <div class="modal-header">
    <h3 class="modal-title">Tell a friend about Beam</h3>
    <button type="button" class="close hidden-xs" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="senderName">What's your name?</label>
        <input type="text" class="form-control" id="senderName" ng-model="fromName" required>
      </div>
      <div class="form-group">
        <label for="senderEmail">What's your email address?</label>
        <input type="email" class="form-control" id="senderEmail" ng-model="fromEmail" required>
      </div>

      <div class="form-group">
        <label for="receipientName">What's the recipient's name?</label>
        <input type="text" class="form-control" id="receipientName" ng-model="toName" required>
      </div>
      <div class="form-group">
        <label for="receipientEmail">What's the recipient's email address?</label>
        <input type="email" class="form-control" id="receipientEmail" ng-model="toEmail" required>
      </div>
      <div class="form-group">
        <label>Preview</label>
        <div class="well">
          <p>
            Hi {{toName || '[Recipient Name]'}},
          </p>

          <p>
            I thought you'd like to know about Beam - a way for Ghanaians abroad
            to care for loved ones back home by paying directly for
            school fees, hospital bills, phone airtime credit, and much more.
          </p>

          <p>
            Find out how: http://beampay.co
          </p>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <p class="err" ng-show="err">Unknown Error: {{err}}</p>
    <button class="btn" id="cancel" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-show="!loading" ng-click="ok()">Send Email</button>
    <button class="btn btn-success" ng-show="loading" disabled>Sending...</button>
  </div>
</div>
