.landing-emailModal {
  background: $white;
  color: $green;
  font-family: 'bariol';

  .modal-header {
    border-bottom: none;
    text-align: center;

    .modal-title {
      color: $black;
    }

    .close {
      margin-top: -35px;

      span {
        font-size: 1.5em;
      }
    }

  }

  .modal-body {
    label {
      font-size: 1.5em;
    }

    .well {
      color: $black;
    }
  }

  .modal-footer {
    .err {
      color: red;
    }

    .btn {
      font-size: 1.2em;
      color: $white;

      &#cancel {
        color: $gray-dark;
        display: none;

        @media screen and (max-width: $screen-xs-max) {
          display: inline-block !important;
        }
      }
    }
  }
}
