.landing-intro {
  background-color: $green;
  color: $white;
  font-family: 'bariol';

  .call-us {
    background-color: $dark-green;
    text-align: center;
    max-width: 350px;
    padding: 10px 25px;
    font-size: 1.5em;
    margin-left: 75px;
  }

  img {
    &#logo {
      height: 30px;
      margin: 100px 0 30px 0;

      @media screen and (max-width: $screen-xs-max) {
        margin: 30px 0;
      }
    }

    &#hero {
      margin-top: 25px;
      max-width: 450px;
    }
  }

  h1 {
    font-size: 50px;
    padding-top: 25px;
  }

  h3 {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
  }

  .submit {
    text-align: center;

    button {
      @include black-button();
      text-decoration: none;
      display: inline-block;
      margin-left: 25px;
      float: left;
    }
  }
}
