.landing-message {
  background-color: $blue;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  text-align: center;

  img {
    padding-top: 40px;
    width: 500px;
    margin: 0 auto;
  }
}
