.landing-services {
  background-color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  .heading {
    text-align: center;

    h1 {
      color: $blue;
    }

    h3 {
      color: $gray-light;
    }
  }

  .service {
    padding-top: 50px;

    .circle {
      @include circle($blue);

      img {

        &#school {
          padding-top: 60px;
          width: 100px;
        }

        &#medical {
          padding-top: 55px;
          width: 85px;
        }

        &#gifts {
          padding-top: 60px;
          width: 85px;
        }

        &#utility {
          padding-top: 55px;
          width: 65px;
        }

        &#phone {
          padding-top: 55px;
          width: 50px;
        }

        &#internet {
          padding-top: 60px;
          width: 80px;
        }

      }

    }

    .text {
      text-align: center;

      h3 {
        color: $blue;
        padding-top: 5px;
      }

      h4 {
        color: $gray-light;
        max-width: 190px;

        margin: 0 auto;
        padding-top: 5px;

        line-height: 30px;
      }
    }
  }

  .question {
    padding-top: 50px;

    .circle {
      @include circle($green);

      h1 {
        color: $green;
        font-size: 135px;
      }
    }
  }

  .more {
    padding-top: 35px;

    h4 {
      color: $gray-light;

      &.emphasis {
        color: $green;
      }
    }

    .box {
      background-color: $green;
      border-radius: 5px;
      padding: 15px;
      max-width: 500px;

      input {
        @extend .form-control;
      }

      h4 {
        color: $white;
      }

      input[type=submit] {
        @include black-button();
        width: initial;
        margin: 10px 0 0 auto;
        padding: 0 20px;
      }
    }
  }
}
