.landing-why {
  background-color: $white;
  padding: 30px 0px;
  font-family: 'bariol';

  .heading {
    text-align: center;
    padding-top: 25px;

    h1 {
      color: $green;
    }
  }

  .list {
    padding-top: 25px;

    p {
      color: $gray-light;
      font-size: 1.5em;

      img {
        height: 20px;
        padding-right: 10px;
      }
    }
  }

  a {
    @include black-button-invert();
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
  }

  .step {
    padding-top: 50px;

    .circle {
      @include circle($green);

      img {

        &#shield {
          padding-top: 45px;
          padding-left: 5px;
          width: 100px;
        }

        &#bolt {
          padding-top: 45px;
          width: 90px;
        }

        &#moneyback {
          padding-top: 50px;
          width: 100px;
        }

      }

    }

    .text {
      text-align: center;

      h3 {
        color: $green;
        padding-top: 5px;
      }

      h4 {
        color: $gray-light;
        max-width: 250px;

        margin: 0 auto;
        padding-top: 5px;

        line-height: 30px;
      }
    }
  }

  hr {
    margin-top: 70px;
    margin-bottom: 0px;
    max-width: 750px;
  }
}
