<div ng-include="'apps/common/views/_header.html'"></div>
<div ng-include="'apps/general/views/hiw/partials/_how.html'"></div>
<div ng-include="'apps/general/views/hiw/partials/_contact.html'"></div>
<div ng-include="'apps/common/views/_footer.html'"></div>
