<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 section">
        <img src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h4>Care for loved ones in Ghana quickly and affordably.</h4>
      </div>
      <div class="col-md-4 section">
        <h3>LINKS</h3>
        <ul>
          <li><a href="/#/">Homepage</a></li>
          <li><a href="/#/how">How It Works</a></li>
          <li><a href="/#/about">About Us</a></li>
          <!-- <li><a href="http://blog.beamremit.com" target="_blank">Blog</a></li> -->
          <li><a href="https://www.dropbox.com/sh/ijgk8rbjmmhwwqm/AACVZ4A7bst4DdasZVWbyoy9a?dl=0" target="_blank">Logos</a></li>
        </ul>
      </div>
      <div class="col-md-4 section">
        <h3>CONTACT BEAM</h3>
        <ul>
          <li><a href="tel:+14158710438">+1 (415) 871 0438</a></li>
          <li><a href="tel:+233509392087">+233 (0)50 939 2087</a></li>
          <li><a href="mailto:hello@beampay.co">hello@beampay.co</a></li>
        </ul>
      </div>
      <!--
      <div class="col-md-3 section">
        <h3>SAY HELLO</h3>
        <ul>
          <li><a href="https://facebook.com/BeamRemit" target="_blank">Beam on Facebook</a></li>
          <li><a href="https://twitter.com/BeamRemit" target="_blank">Beam on Twitter</a></li>
        </ul>
      </div>
      -->
    </div>
  </div>
</footer>
