.about-contact {
  background-color: $green;
  color: $white;
  text-align: center;

  .container {
    padding: 50px;

    .block {
      margin-top: 30px;
      padding: 20px;
      background-color: $green - 10;
      border-radius: 5px;

      h3 {
        font-weight: 200;
        max-width: 650px;
        margin: 0 auto;
        line-height: 40px;
        padding-bottom: 25px;
      }

      p {
        padding: 10px 0px;

        .email {
          color: $white;
          text-decoration: underline;

          &:hover {
            color: $white;
          }

        }

        .media {
          @include black-button();
        }
      }

    }
  }
}
