.about-intro {
  background-color: $green;
  color: $white;

  img {
    height: 30px;
    margin: 60px 0px 30px 0px;
  }

  h1 {
    padding: 50px 0px;
    text-align: center;
  }

  h4 {
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
    line-height: 40px;
    padding-bottom: 75px;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
      font-weight: 400;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
  }

}
