<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container" ng-controller="ForgotCtrl">

  <div class="row box">
    <div class="col-sm-offset-3 col-sm-6 form">
      <h3>Reset Password</h3>
      <div class="errors" role="alert" ng-show="forgot.errors.length">
        <p>Error(s):</p>
        <ul>
          <li ng-repeat="error in forgot.errors">
            {{ error }}
          </li>
        </ul>
      </div>
      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input ng-model="forgot.email" type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-default" ng-click="forgot.submit()">Reset Password</button>
        </div>
      </form>
      <p class="success" ng-show="forgot.success">
        A password reset link has been sent to <strong>{{ forgot.email }}</strong>. Click on that link to continue with the process.
      </p>
    </div>
  </div>
</div>