<div class="container" ng-controller="ResetPasswordCtrl">

  <div ng-show="resetPassword.can">
    <h1>Change Password</h1>
    <div class="alert alert-warning" role="alert" ng-show="resetPassword.errors.length">
      <p>Error(s):</p>
      <ul>
        <li ng-repeat="error in resetPassword.errors">
          {{ error }}
        </li>
      </ul>
    </div>
    <form ng-hide="resetPassword.success">
      <div class="form-group">
        <label for="password">New Password</label>
        <input ng-model="resetPassword.pass1" type="password" class="form-control" placeholder="New password">
      </div>
      <div class="form-group">
        <label for="password">Confirm New Password</label>
        <input ng-model="resetPassword.pass2" type="password" class="form-control" placeholder="Confirm new password">
      </div>
      <button type="submit" class="btn btn-default" ng-click="resetPassword.submit()">Submit</button>
    </form>
    <div ng-show="resetPassword.success">
      Password Changed
    </div>
  </div>

  <div ng-show="resetPassword.cannot">
    <p>Invalid Link</p>
  </div>
</div>
