<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container" ng-controller="ActivateResendCtrl">
  <div class="row box">
    <div class="col-sm-offset-3 col-sm-6 form">

      <h3>Almost there! Please check your email</h3>

      <p>Please confirm your email address by clicking on the link we sent to your email address. The link will expire in 24 hours.</p>

      <hr>

      <p>Didn't receive the email?</p>

      <div class="submit">
        <button class="btn btn-default" ng-click="activateResend.submit()" ng-hide="activateResend.success" data-style="zoom-in">Click here to resend the email</button>
      </div>
    </div>
  </div>
</div>