<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container" ng-controller="SignupCtrl">
  <div class="row box">
    <div class="col-sm-offset-3 col-sm-6 form">

      <h3>Sign Up</h3>
      <h5>Start using Beam in seconds</h5>
      
      <div class="errors" role="alert" ng-show="signup.errors.length">
        <p>Error(s):</p>
        <ul>
          <li ng-repeat="error in signup.errors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div class="facebook">
        <button ng-click="signup.fb()">
          <i class="fa fa-facebook"></i> Sign up with Facebook
        </button>
      </div>

      <hr>
      
      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input ng-model="signup.email" type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="pass1">Choose Password</label>
          <input ng-model="signup.pass1" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="pass2">Confirm Password</label>
          <input ng-model="signup.pass2" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="signup.privacy" type="checkbox"> I accept the Terms and Conditions
          </label>
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-default" ng-click="signup.submit()">Sign Up</button>
        </div>
      </form>

    </div>
  </div>
</div>

