<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container" ng-controller="SignInCtrl">
  <div class="row box">
    <div class="col-sm-offset-3 col-sm-6 form">

      <h3>Login</h3>



      <div class="errors" role="alert" ng-show="signIn.errors.length">
        <p>Error(s):</p>
        <ul>
          <li ng-repeat="error in signIn.errors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div class="facebook">
        <button ng-click="signIn.fb()">
          <i class="fa fa-facebook"></i> Login with Facebook
        </button>
      </div>

      <hr>

      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input ng-model="signIn.email" type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="pass1">Password</label>
          <input ng-model="signIn.pass" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-default" ng-click="signIn.submit()">Login</button>
        </div>
      </form>

      
      <div class="bottom-desc">
        <a href="" ng-click="forgot()">Forgot Password?</a> 
        Don't have an account?
        <a href="" ng-click="signup()">Sign Up</a>
      </div>
    </div>
  </div>
</div>