<div ng-include="'apps/common/views/_header.html'"></div>
<div class="container" ng-controller="OnboardNameCtrl">
  <div class="row box">
    <div class="col-sm-offset-3 col-sm-6 form">

      <h3> Hello, and welcome to Beam! </h3>
      <h5> What's your name? </h5>

      <div class="errors" role="alert" ng-show="settings.errors.length">
        <ul>
          <li ng-repeat="error in settings.errors">
            {{ error }}
          </li>
        </ul>
      </div>

      <form>
        <div class="form-group">
          <label for="firstName">First name</label>
          <input ng-model="settings.firstName" type="text" class="form-control" placeholder="Enter first name">
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input ng-model="settings.lastName" type="text" class="form-control" placeholder="Enter last name">
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-default" ng-click="settings.submit()">Next</button>
        </div>
      </form>     

    </div>
  </div>
