<div ng-include="'apps/general/views/about/partials/_intro.html'"></div>
<div ng-include="'apps/general/views/about/partials/_people.html'"></div>
<div ng-include="'apps/general/views/about/partials/_contact.html'"></div>
<div ng-include="'apps/common/views/_footer.html'"></div>
