<div class="landing-care">
  <div class="lead">
    <h1>Remind them that you care</h1>
    <h3>Beam gifts to care for...</h3>
  </div>
  <carousel>
    <slide>
      <div class="row">
        <div class="col-md-4 img">
          <img src="apps/general/images/care/daughter.png" alt="Care daughter image">
        </div>
        <div class="col-md-6 text">
          <p>
            Your <span>daughter</span> who just took <span>her first step</span>
          </p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="row">
        <div class="col-md-4 img">
          <img src="apps/general/images/care/bro.png" alt="Care brother image">
        </div>
        <div class="col-md-6 text">
          <p>
            Your <span>brother</span>, your <span>number one</span> fan
          </p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="row">
        <div class="col-md-4 img">
          <img src="apps/general/images/care/mom.png" alt="Care mom image">
        </div>
        <div class="col-md-6 text">
          <p>
            Your <span>mother</span> who called to say <span>she misses you</span>
          </p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="row">
        <div class="col-md-4 img">
          <img src="apps/general/images/care/friend.png" alt="Care friend image">
        </div>
        <div class="col-md-6 text">
          <p>
            An <span>old friend</span> in need of a <span>helping hand</span>
          </p>
        </div>
      </div>
    </slide>
  </carousel>
</div>
