<div class="landing-intro" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="logo" src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h1>To Ghana, with love.</h1>
        <h3>Care for loved ones in Ghana, quickly and affordably.</h3>
        <div class="submit">
          <button ng-if="!loggedin" type="submit" class="btn btn-default" ng-click="signup()">Sign Up</button>
        </div>
        <div class="submit">
          <button ng-if="!loggedin" type="submit" class="btn btn-default" ng-click="signin()">Login</button>
        </div>
        <div class="submit">
          <button ng-if="loggedin" type="submit" class="btn btn-default" ng-click="dashboard()">Get started now!</button>
        </div>        
      </div>
      <div class="col-md-6 hidden-sm hidden-xs">
        <div class="call-us">
          Call us: +1 (415) 871 0438
        </div>
        <img id="hero" src="apps/general/images/hero.png" alt="Hero Family Image">
      </div>
    </div>
  </div>
</div>
