<div class="landing-message">
  <div class="container">
    <h1>Say it in Style</h1>
    <h3>Send an SMS note with every gift</h3>
    <img class="img-responsive" src="apps/general/images/message/msg.png" alt="Message">
  </div>
</div>
