<div class="landing-services">
  <div class="container">
    <div class="row heading">
      <h1>Provide for loved ones</h1>
      <h3>What can you Beam to friends and family?</h3>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <div class="circle">
          <img id="school" src="apps/general/images/services/school.png" alt="School Service Image">
        </div>
        <div class="text">
          <h3>School fees</h3>
          <h4>Pay directly for your ward's fees in a few clicks</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="medical" src="apps/general/images/services/medical.png" alt="Hospital Service Image">
        </div>
        <div class="text">
          <h3>Hospital bills</h3>
          <h4>Cover the cost of life-saving treatment</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="gifts" src="apps/general/images/services/gifts.png" alt="Gifts Service Image">
        </div>
        <div class="text">
          <h3>Gifts</h3>
          <h4>Surprise someone special with cakes, flowers, and hampers</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="utility" src="apps/general/images/services/utility.png" alt="Utility Service Image">
        </div>
        <div class="text">
          <h3>Utility bills</h3>
          <h4>Take care of monthly water and electricity bills</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="phone" src="apps/general/images/services/phone.png" alt="Air-time Service Image">
        </div>
        <div class="text">
          <h3>Air-time topups</h3>
          <h4>Purchase credit on MTN, Vodafone, Airtel, and Tigo</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="internet" src="apps/general/images/services/internet.png" alt="Internet Service Image">
        </div>
        <div class="text">
          <h3>Internet and Cable TV</h3>
          <h4>Pay for Surfline, Vodafone Broadband, DSTV, and GOtv</h4>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 question">
        <div class="circle">
          <h1>?</h1>
        </div>
      </div>
      <div class="col-md-6 more">
        <h4 class="emphasis">Did we miss anything?</h4>
        <h4>How would you prefer to support loved ones in Ghana?</h4>
        <div class="box">
          <h4>I'd like to support loved ones in Ghana by paying directly for:</h4>
          <form name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://beamremit.wufoo.com/forms/z5r5enu0sxxcni/#public" target="_blank">
            <input type="text" name="Field1" placeholder="eg. School Fees for Ghana International School" maxlength="255" required="">
            <input type="hidden" name="idstamp" value="9/7ehv0VZ32lO7MfBQgqC/1lErU/RpIi+Wqa4gdIYt4=" />
            <div class="text-right">
              <input name="saveForm" type="submit" value="Let us know"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
