<div class="landing-why">
  <div class="container">
    <div class="row heading">
      <h1>Pay <em>directly</em> for gifts and bills for loved ones in Ghana</h1>
    </div>
    <div class="list row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          <img src="apps/general/images/why/check.png" alt="Checkmark">
          No need to rely on middlemen to pay for things on your behalf while you're abroad.
        </p>
        <p>
          <img src="apps/general/images/why/check.png" alt="Checkmark">
          Payment goes <em>straight</em> to the service provider, not an individual.
        </p>
        <p>
          <img src="apps/general/images/why/check.png" alt="Checkmark">
          You can be 100% certain that your money is being spent like you intend.
        </p>
      </div>
      <div class="text-center">
        <a href="/#/how">How does Beam work?</a>
      </div>
    </div>
    <hr>
    <div class="row heading">
      <h1>Why Beam?</h1>
    </div>
    <div class="row">
      <div class="col-md-4 step">
        <div class="circle">
          <img id="shield" src="apps/general/images/why/shield.png" alt="Shield Image">
        </div>
        <div class="text">
          <h3>World-class security</h3>
          <h4>Beam uses U.S.-based payment processors with bank-level encryption to protect your information</h4>
        </div>
      </div>
      <div class="col-md-4 step">
        <div class="circle">
          <img id="bolt" src="apps/general/images/why/bolt.png" alt="Bolt Image">
        </div>
        <div class="text">
          <h3>Fast</h3>
          <h4>All payments are processed within 1 business day</h4>
        </div>
      </div>
      <div class="col-md-4 step">
        <div class="circle">
          <img id="moneyback" src="apps/general/images/why/moneyback.png" alt="Money Back Image">
        </div>
        <div class="text">
          <h3>Money back guarantee</h3>
          <h4>If we’re unable to process your payment for any reason, we’ll return the full amount</h4>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
