.header {

  background-color: $green;
  color: $white;
  font-family: 'bariol';

  .call-us {
    background-color: $dark-green;
    text-align: center;
    max-width: 350px;
    padding: 10px 25px;
    font-size: 1.5em;
    margin-left: 75px;
  }

  img {
    &#logo {
      height: 30px;
      margin: 20px 0;

      @media screen and (max-width: $screen-xs-max) {
        margin: 30px 0;
      }
    }

    &#hero {
      margin-top: 25px;
      max-width: 450px;
    }
  }

  .section {

    padding: 10px;
    font-size: 1.5em;
    padding-top: 20px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
          color: $gray-dark;
        }
      }

      li {
        float: right;
        margin-left: 20px;
      }
    }
  }

}
