@mixin capsule-button($background-color, $color, $hover-color) {
  padding: 10px 25px;
  background-color: $background-color;
  color: $color;

  &:hover {
    color: $color;
    background-color: $hover-color;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 10px;
  }
}

@mixin black-button() {
  background-color: $black;
  color: $white;
  font-size: 1.5em;

  padding: 7px 20px;

  border: none;
  border-radius: 3px;

  &:hover {
    background-color: $white;
    color: $green;
  }
}

@mixin black-button-invert() {
  @include black-button();

  &:hover {
    background-color: $green;
    color: $white;
  }
}

@mixin small-black-button-invert(){
  @include capsule-button($black, $neutral-color, $green);
}

@mixin facebook-button(){

  background-color: #36528f;
  color: $white;

  padding-top: 15px;
  padding-bottom: 15px;

  border: none;
  border-radius: 3px;

}