$green: #7dc242;
$dark-green: #5b8f2f;
$blue: #7a96e7;
$gray-light: #919390;
$gray-dark: #676964;
$white: #ffffff;
$black: #000000;

$body_color: #000000;
$neutral_color: #f8f8f8;
$light_body_color: #969696;
$error_color: #b94a48;
$light_border_color: rgba(0,0,0,0.1);