<div ng-include="'apps/general/views/landing/partials/_intro.html'"></div>
<div ng-include="'apps/general/views/landing/partials/_why.html'"></div>
<div ng-include="'apps/general/views/landing/partials/_services.html'"></div>
<div ng-include="'apps/general/views/landing/partials/_message.html'"></div>
<div ng-include="'apps/general/views/landing/partials/_care.html'"></div>
<div ng-include="'apps/general/views/landing/partials/_notify.html'"></div>
<div ng-include="'apps/common/views/_footer.html'"></div>
