<div class="hiw-contact">
  <div class="container">
    <h1>Is there anything else you'd like to know?</h1>
    <h3>Please get in touch!</h3>
    <div class="row">
      <div class="col-md-4">
        <a href="tel:+14158710438">+1 (415) 871 0438</a>
      </div>
      <div class="col-md-4">
        <a href="tel:+233509392087">+233 (0)50 939 2087</a>
      </div>
      <div class="col-md-4">
        <a href="mailto:hello@beampay.co">hello@beampay.co</a>
      </div>
    </div>
    <hr>
    <h1>Launching June 2015</h1>
    <form action="//beamremit.us9.list-manage.com/subscribe/post?u=abd46db3e3c87de7598b5e8e9&amp;id=81b7fd0b2b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<input type="email" value="" name="EMAIL" class="form-control" placeholder="Email">
      <input type="submit" value="Get notified when we launch" name="subscribe">
    </form>
  </div>
</div>
