<div class="hiw-how">
  <div class="container">
    <div class="row heading">
      <h1>How does Beam work?</h1>
    </div>
    <div class="steps">
      <div class="row step">
        <div class="col-md-2">
          <div class="circle">
            <img id="pointer" src="apps/general/images/hiw/pointer.png" alt="Pointer Image">
          </div>
        </div>
        <div class="text col-md-offset-1 col-md-8">
          <h2>STEP 1: Choose a service</h2>
          <p>
            Select a service you want to pay for on behalf of a loved one
            in Ghana. You can pay for the following services with Beam:
          </p>
          <div class="list">
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              Hospital bills at all major public and private hospitals
            </p>
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              School fees at public and private schools, and universities
            </p>
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              Small gifts such as cakes, flowers, and goodie hampers
            </p>
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              Water and electricity bills
            </p>
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              Airtime phone top-ups
            </p>
            <p>
              <img src="apps/general/images/why/check.png" alt="Checkmark">
              Internet access and cable TV
            </p>
          </div>
        </div>
      </div>
      <div class="row step">
        <div class="col-md-2">
          <div class="circle">
            <img id="cc" src="apps/general/images/hiw/cc.png" alt="Credit Card Image">
          </div>
        </div>
        <div class="text col-md-offset-1 col-md-8">
          <h2>STEP 2: Pay for the service</h2>
          <p>Pay in seconds with your debit or credit card. Beam will add a small service fee.</p>
          <p><span class="impt">IMPORTANT NOTE: </span> This money will NOT be received by the recipient. Rather, Beam will make the payment on your behalf <em>directly</em> to the service provider.</p>
        </div>
      </div>
      <div class="row step">
        <div class="col-md-2">
          <div class="circle">
            <img id="deliver" src="apps/general/images/hiw/deliver.png" alt="Delivery Man Image">
          </div>
        </div>
        <div class="text col-md-offset-1 col-md-8">
          <h2>STEP 3: Beam processes payment</h2>
          <p>Once payment has been made, Beam will ensure that the service provider receives the money, even if it means making a manual payment on your behalf.</p>
          <p><span class="impt">Beam pledges to process all payments within 1 business day.</span></p>
        </div>
      </div>
      <div class="row step">
        <div class="col-md-2">
          <div class="circle">
            <img id="receipt" src="apps/general/images/hiw/receipt.png" alt="Receipt Image">
          </div>
        </div>
        <div class="text col-md-offset-1 col-md-8">
          <h2>STEP 4: Confirmation and proof of payment</h2>
          <p>Beam sends proof of payment to both the sender and the recipient in the form of a scanned receipt, a follow-up phone call to both sender and recipient, as well as whatever additional proof the sender requires.</p>
          <p><span class="impt">If the payment could not be made for any reason, Beam pledges to return the full amount to the sender.</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
