<div class="about-contact">
  <div class="container">
    <h1>Say Hello!</h1>
    <div class="row">
      <div class="block col-md-offset-1 col-md-4">
        <h3>Contact</h3>
        <p>
          <a class="email" href="mailto:hello@beampay.co">hello@beampay.co</a>
        </p>
        <p>
          <a class="email" href="tel:+14158710438">+1 (415) 871 0438</a><br>
          <a class="email" href="tel:+233509392087">+233 (0)50 939 2087</a>
        </p>
        <p>
          Meltwater Incubator<br>
          19 Banana Street<br>
          East Legon, Accra, Ghana<br>
          PMB CT 13
        </p>
      </div>
      <div class="block col-md-offset-2 col-md-4">
        <h3>Media</h3>
        <p>
          <a class="email" target="_blank" href="https://www.dropbox.com/sh/ijgk8rbjmmhwwqm/AACVZ4A7bst4DdasZVWbyoy9a?dl=0">Logos</a>
        </p>
        </p>
      </div>
    </div>
  </div>
</div>
