<div class="about-intro">
  <div class="container">
    <a href="/#/"><img id="logo" src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent"></a>
    <h1>About Beam Pay</h1>
    <h4>
      We're a small team based in Accra, Ghana.
    </h4>
  </div>
</div>
