<div class="about-people">
  <div class="container">
    <div class="team">
      <div class="col-md-12">
        <h2 class="text-center">Core Team</h2>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/nikunj.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">Nikunj Handa</p>
            <p class="title">CEO</p>
            <p class="desc">
              Nikunj is a full stack developer whose journey has taken him from
              India to Oman, Singapore, the United States, and now Ghana. He’s
              the former CTO of a healthcare startup out of Pittsburgh, USA.
              He holds degrees in Finance and Information Systems from
              Singapore Management University and Carnegie Mellon University.
              He won’t admit it, but Nikunj can’t get enough of Ghanaian food,
              especially kenkey.
            </p>
          </div>
        </div>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/falk.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">Falk Benke</p>
            <p class="title">CTO</p>
            <p class="desc">
              Falk is the resident German, whose obsessive attention to detail
              cannot be overstated. He’s a former IBMer, deeply curious about
              machine learning algorithms, and has a Masters with distinction
              in IT Systems Engineering from the Hasso Plattner Institute. If
              you run into Falk, ask him about that thing with the monkey at
              Busua Beach.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h2 class="text-center">Advisors &amp; Investors</h2>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/neal.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">Neal Hansch</p>
            <p class="title">Advisor</p>
            <p class="desc">
              Neal has over fifteen years experience in venture
              capital, technology operations and investment banking. Most
              recently, he was a General Partner with Rustic Canyon Partners
              (RCP), an early-stage focused investment fund with $500MM under
              management. Neal does his best to disconnect from his digital
              devices by heading to the nearest body of water to enjoy some
              surfing, scuba diving, sailing or fishing.
            </p>
          </div>
        </div>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/emmanuel.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">Emmanuel Quartey</p>
            <p class="title">Marketing Advisor</p>
            <p class="desc">
              Emmanuel is happiest when neck-deep in Photoshop files. He’s
              worked on the design and marketing teams of organizations both
              large and small, including SeeClickFix and the Yale Office of
              Public Affairs and Communications. He holds a BA in Architecture
              from Yale University, and can often be found reading or writing
              about comics, online communities, and the relationship between
              language and interfaces.
            </p>
          </div>
        </div>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/david.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">David Long</p>
            <p class="title">Legal Advisor</p>
            <p class="desc">
              David is a San Francisco based, digital currency anti-money
              laundering attorney specializing in addressing the specific,
              AML compliance and fraud prevention challenges facing companies
              operating in that environment. His deep experience leverages his
              expertise in AML, fraud investigations, legal services,
              enforcement, business, education and training.
            </p>
          </div>
        </div>
      </div>
      <div class="member col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <img src="apps/general/images/about/mest.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <p class="name">Meltwater Foundation</p>
            <p class="title">Investor</p>
            <p class="desc">
              The Meltwater Entrepreneurial School of Technology (MEST) and the
              MEST Incubator program provide training, investment and mentoring
              for aspiring technology entrepreneurs with the goal of creating
              globally successful companies that create wealth and jobs locally
              πin Africa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
